body {
background : #f50;
}

h1 {
color : #009 ;
font-size : 60px ;
font-weight : bold ;  
margin-left : 100px ;
}
div#menu {
margin-left : 300px ;
}

div#menu div#option {
background : #008 ;
color : white;
padding : 20px ;
font-size : 50px ;
letter-spacing : 22px ;
margin-top : 5px ;
border-radius : 8px ;
font-weight : bold ;
width : 300px ;
box-shadow : -5px 5px 15px black ;
-webkit-transition : background 0.3s linear;
cursor : hand ;
}

div#menu div#option:hover {
background : #00e ;
box-shadow : -5px 5px 10px black ;
}
#gamebox {
width : 800px;
height : 600px ;
background : white ;
}
